ul {
    list-style-type:none;
    padding: 3%;
}
li{
    margin-bottom:5%;
   
} 
.card {
    width: unset;
    display: flex;
    flex-wrap: wrap;
    text-align: flex-start;
    text-wrap: balance;
}
.header-container h1, h2{

    margin-bottom:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    text-transform: uppercase;    
    color: grey;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    
}

@media (width >=768px) {
.card-container {
    
}
}