.youtube {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom:30px;
}

/* Tablet */
@media (width >=768px) {
    .youtube > :first-child {
        display:grid;
        width:854px;
        height:480px;
        grid-column: span 2;   
}
}
@media (width >=1200px) {
    .youtube > :first-child {
    width: 100%;
    }

}